.container {
  width: 85%;
  margin: auto;
  /*padding-top: 40px;*/
  padding-bottom: 40px;
}
header .bg-img {
  width: 100%;
  background-image: url(../bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 250px 0;
}
div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  padding-right: 6px;
}
h1 {
  text-align: center;
}
ul li {
  list-style: none;
  padding-left: 0;
}

ul {
  width: 30%;
  border: solid 3px black;
  border-radius: 8px;
  padding: 10px;
}
