*
{
    box-sizing: border-box;
}


a
{
    text-decoration: none;
}

form
{
    margin-top: 2em;
}
form fieldset
{
    border-radius: 4px;
}
form fieldset legend
{
    padding: 0 0.5em;
}

hr
{
    margin-bottom: 2em;
    margin-top: 2em;
}

table {
  width: 100%;
  margin-bottom: 12px; 
}
table td, th {
  padding: 6px;
  text-align: center;
}
caption {
  font-style: italic;
  padding: 10px;
}

.popup {
  font-weight: bolder;
  text-align: center;
  width: 35%;
  border: solid red 2px;
  padding-left: 12px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 36px;
}
