:root {
  background: #fff;
}

span#percent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #0070BB;
}

span#percent::after {
  content: '%';
}

span#percent2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #0070BB;
}

span#percent2::after {
  content: '%';
}

span#percent3 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #0070BB;
}

span#percent3::after {
  content: '%';
}
span#percent4 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #0070BB;
}

span#percent4::after {
  content: '%';
}
span#percent5 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #0070BB;
}

span#percent5::after {
  content: '%';
}
.tooltip {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
}

li {
  list-style: none;
}
.tooltip-text {
  text-align: center;
}

.flex-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
