.container {
  width: 85%;
  margin: auto;
  padding-bottom: 40px;
}
header .bg-image {
  background-image: url(../bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-bottom: 50%;
}
h1 {
  text-align: center;
  margin: 20px 0 60px;
}
.form {
  display: flex;
  align-items: center;
}
h2 {
  margin-right: 6px;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
	display: inline-block;
	margin-top: 50px;
}

.info #list {
	/*width: 45%;*/
	display: inline-block;
	padding: 20px 2%;
  margin-left: 5%;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 10px;

}

.info #list li {
	list-style: none;
	margin-bottom: 5px;
}

.info #annex {
	margin-left: 5%;
	width: 45%;
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	padding: 0 2% 20px;
}

.info .hide {
	display: none !important;
}
